---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="About"
    description="Jasa pembuatan website untuk bisnis, toko online, sekolah, organisasi, dan aplikasi ecommerce"
>
    <Header />
    <p id="data"></p>
</Layout>
