---
import TitleSection from "./Title-Section.astro";
---

<div>
    <TitleSection title="About Me" />
    <h3>A few words about me</h3>

    <div class="container">
        <p>desc</p>
        <span>images</span>
    </div>
</div>

<style>
    .container {
        display: grid;
    }
</style>
