<footer
    class="w-full h-40 flex justify-center items-center rounded-xl my-5 bg-black"
>
    <nav class="space-x-5 text-xl text-slate-50">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <span>Services</span>
    </nav>
</footer>
