<footer
    id="footer"
    class="w-full flex flex-col justify-center items-center rounded-xl mt-10 mb-3 py-10 bg-black"
>
    <div class="w-full flex justify-center border-b border-slate-400">
        <nav class="space-x-5 text-xl text-slate-50 py-5">
            <a href="/" class="md:hover:underline">Home</a>
            <a href="/about" class="md:hover:underline">About</a>
            <span class="md:hover:underline">Services</span>
        </nav>
    </div>

    <div class="text-slate-50">asdasd</div>
</footer>
