<header>
    <nav class="w-full flex justify-between md:justify-center gap-10 p-5">
        <span class="cursor-pointer">Home</span>
        <span class="cursor-pointer">About</span>
        <span class="cursor-pointer">Portfolio</span>
        <span class="cursor-pointer">All Services</span>
    </nav>
</header>
