---
const pathname = Astro.url.pathname;
---

<header id="header">
    <nav
        class="w-full md:h-[5vh] flex justify-between md:justify-center items-center py-5 gap-10 text-[0.8rem] sm:text-[1rem]"
    >
        <a
            aria-label="link"
            class="cursor-pointer hover:font-semibold"
            href="/"
            rel="prefetch">Home</a
        >
        <a
            aria-label="link"
            class="cursor-pointer hover:font-semibold"
            href="/about"
            rel="prefetch">About</a
        >
        <span class="cursor-pointer hover:font-semibold">Portfolio</span>
        <span class="cursor-pointer hover:font-semibold">All Services</span>
    </nav>
</header>

<script is:inline define:vars={{ pathname }}>
    const linkElements = document.querySelectorAll('[aria-label="link"]');
    const header = document.getElementById("header");

    linkElements?.forEach((el) => {
        if (
            el.getAttribute("href") === pathname ||
            el.getAttribute("href") + "/" === pathname
        ) {
            el.setAttribute(
                "class",
                "font-semibold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-orange-600"
            );
        }
    });

    window.onscroll = () => {
        if (this.oldScroll > this.scrollY) {
            header.setAttribute(
                "class",
                "sticky top-0 transition-all ease-in-out duration-500 bg-[#f6f6f6]"
            );
        } else {
            header.setAttribute(
                "class",
                "sticky -top-10 transition-all ease-in-out duration-500"
            );
        }
        this.oldScroll = this.scrollY;
    };
</script>
