<header>
    <nav>
        <span class="cursor-pointer">Home</span>
        <span class="cursor-pointer">About</span>
        <span class="cursor-pointer">Portfolio</span>
        <span class="cursor-pointer">All Services</span>
    </nav>
</header>

<style>
    .cursor-pointer {
        cursor: pointer;
    }
    header {
        padding: 20px;
    }
    nav {
        display: flex;
        justify-content: center;
        gap: 50px;
        font-size: large;
    }
</style>
