<div
    class="w-full h-[80vh] md:h-[95vh] flex flex-col justify-center items-center rounded-xl bg-cover bg-center bg-[url(/background.png)]"
>
    <h1
        class="md:w-1/2 leading-none text-center text-[4rem] md:text-[12rem] text-slate-50"
    >
        Galih Agus Setyawan
    </h1>
    <h2 class="text-[2.5rem] md:text-[10rem] italic text-slate-50">
        Software Engineer
    </h2>
    <p class="w-full md:w-1/2 text-slate-50 text-center px-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos provident
        animi error sapiente nisi voluptate autem, eveniet explicabo hic quam
        amet nulla ducimus. Ad fugit, vitae odit amet maxime assumenda?
    </p>
</div>
