<div class="container">
    <h1>Galih Agus Setyawan</h1>
    <h2>Software Engineer</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos provident
        animi error sapiente nisi voluptate autem, eveniet explicabo hic quam
        amet nulla ducimus. Ad fugit, vitae odit amet maxime assumenda?
    </p>
</div>
<style>
    .container {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-image: url("./background.png");
        background-size: cover;
        background-position: center;
    }
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        margin: 0 auto;
        color: antiquewhite;
    }
    h2 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        font-size: 2rem;
        font-weight: lighter;
        font-style: italic;
        margin: 0 auto;
        color: antiquewhite;
    }
    p {
        text-align: center;
        padding: 20px;
        color: antiquewhite;
    }
</style>
