<div
    class="w-full h-[80vh] md:h-[87vh] lg:h-[95vh] flex flex-col justify-center items-center rounded-xl bg-cover bg-center bg-[url(/background.webp)]"
>
    <h1
        class="leading-none text-center text-[4rem] md:text-[8rem] lg:text-[13rem] text-slate-50"
    >
        Galih Agus Setyawan
    </h1>
    <h2
        class="text-[2.2rem] sm:text-[1rem] md:text-[4.5rem] lg:text-[7.4rem] italic text-slate-50"
    >
        Software Engineer
    </h2>
    <p class="w-full md:w-3/4 lg:w-1/2 text-slate-50 text-center px-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos provident
        animi error sapiente nisi voluptate autem, eveniet explicabo hic quam
        amet nulla ducimus. Ad fugit, vitae odit amet maxime assumenda?
    </p>
</div>
