---
import TitleSection from "./Title-Section.astro";
---

<div class="md:px-20 mt-5 lg:px-40 space-y-10">
    <TitleSection title="Services" />

    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="order-2 md:order-1">foto</div>
        <div class="order-1 md:order-2 space-y-10">
            <h3 class="text-4xl">What I specialise in</h3>
            <p>
                As a web designer based in Bournemouth, Dorset, I provide Web
                Design and Webflow Development services to businesses across all
                industries. I believe that whatever the business's budget is, it
                always deserves a great-looking website that functions properly.
                ‍ Today, it's almost impossible to go throughout the business
                world without an online presence. A website is mandatory for the
                smooth operation of any company. The Internet makes it simpler
                to display your products and services to potential customers. ‍
                If you're looking for a web designer that you can rely on, then
                look no further. Get in touch today to see how I can help you
                create the perfect website for your business.
            </p>
        </div>
    </div>
</div>
