---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="underline">
    <p>{title}</p>
</div>

<style>
    .underline {
        border-bottom: 1px solid gainsboro;
    }
</style>
